In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import sqldf as sd

In [7]:
results = pd.read_csv('datasets/cleaned/race_results.csv')
races = pd.read_csv('datasets/cleaned/races.csv')
drivers = pd.read_csv('datasets/cleaned/drivers.csv')

In [8]:
max_id = max(results['raceId'])
race_current = races.query(f"raceId == {max_id}")
race_current

      raceId  year  round  circuitId                  name        date
1069    1086  2022     13         11  Hungarian Grand Prix  2022-07-31

In [31]:
results_extended = pd.merge(results, races[['raceId','year','round']], on='raceId', how='left')
results_extended = sd.run("select * from results_extended group by raceId, grid")
temp = sd.run("select raceId, year, round, max(grid) as racers from results_extended group by raceId")
temp = temp.query("racers > 0")
temp

      raceId  year  round  racers
0          1  2009      1      20
1          2  2009      2      20
2          3  2009      3      20
3          4  2009      4      20
4          5  2009      5      20
...      ...   ...    ...     ...
1065    1082  2022      9      20
1066    1083  2022     10      20
1067    1084  2022     11      19
1068    1085  2022     12      20
1069    1086  2022     13      19

[1070 rows x 4 columns]

In [34]:
# for race_num in range(temp.shape[0]):
#     temp2 = temp[race_num]