In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import sqldf as sd

In [2]:
results = pd.read_csv('datasets/cleaned/race_results.csv')
races = pd.read_csv('datasets/cleaned/races.csv')
drivers = pd.read_csv('datasets/cleaned/drivers.csv')

In [7]:
master_stats = pd.merge(results, drivers, on='driverId', how='left')
all_points = master_stats.groupby('name').agg({'points': 'sum'}).sort_values(by='points',ascending=False)
all_points.head(10)

                    points
name
Lewis Hamilton      4308.5
Sebastian Vettel    3077.0
Fernando Alonso     2021.0
Kimi Räikkönen      1873.0
Max Verstappen      1792.5
Valtteri Bottas     1775.0
Nico Rosberg        1594.5
Michael Schumacher  1566.0
Daniel Ricciardo    1289.0
Jenson Button       1235.0

In [13]:
all_wins = master_stats.query('positionOrder == 1').groupby('name').agg({'positionOrder': 'count'}).sort_values(by='positionOrder', ascending=False)
all_wins.head(10)

                    positionOrder
name
Lewis Hamilton                103
Michael Schumacher             91
Sebastian Vettel               53
Alain Prost                    51
Ayrton Senna                   41
Fernando Alonso                32
Nigel Mansell                  31
Max Verstappen                 28
Jackie Stewart                 27
Niki Lauda                     25

In [19]:
all_podiums = master_stats[master_stats['positionOrder'].isin([1,2,3])].groupby('name').agg(
    {'positionOrder': 'count'}).sort_values(by='positionOrder', ascending=False)
all_podiums.head(10)

                    positionOrder
name
Lewis Hamilton                188
Michael Schumacher            155
Sebastian Vettel              122
Alain Prost                   106
Kimi Räikkönen                103
Fernando Alonso                98
Ayrton Senna                   80
Max Verstappen                 70
Rubens Barrichello             68
Valtteri Bottas                67

In [20]:
all_poles = master_stats.query('grid == 1').groupby('name').agg(
    {'positionOrder': 'count'}).sort_values(by='positionOrder', ascending=False)
all_poles.head(10)

                    positionOrder
name
Lewis Hamilton                103
Michael Schumacher             68
Ayrton Senna                   65
Sebastian Vettel               57
Jim Clark                      34
Alain Prost                    33
Nigel Mansell                  32
Nico Rosberg                   30
Juan Fangio                    29
Mika Häkkinen                  26